<html lang="fr">

<head>
    <link rel="stylesheet" href="/css/header-style.css" >
</head>

<body>
    <div id="header">
        <p>GiftBox</p>
        <p>Tu souhaites offrir une box ?</p>
    </div>
</body>