<html lang="fr">

<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ base_path() }}/css/main-style.css" >
</head>

<body>
    <div class="main">
        <div class="header">{% include "./main/gift.header.twig" %}</div>
        <div class="nav">{% include "./main/gift.nav.twig" %}</div>
        <div class="content">{% block content %}{% endblock %}</div>
        <div class="footer">{% include "./main/gift.footer.twig" %}</div>
    </div>
</body>