{% extends "./main/gift.main.twig" %}

{% block title %}Box utilisateur{% endblock %}

{% block content %}
    <h1>Box</h1>
    <ul>
        {% for box in boxes %}
            <h3>Libelle : {{ box.libelle }}</h3>
            <p>Description : {{ box.description }}</p>
            {% if box.kdo==false %}
                <p>Montant : {{ box.montant }}</p>
            {% endif %}
            <a href="{{ url_for('box', {}, {id: box.id}) }}">Visualiser la box</a>
            {% if box.statut == 1 %}
                <p>Status : En cours de création</p>
            {% elseif box.statut == 2 %}
                <p>Status : Validée</p>
            {% elseif box.statut == 3 %}
                <p>Status : Payée</p>
            {% endif %}
            <br>
        {% endfor %}
    </ul>
{% endblock %}
