#header {
    background-color: #5784BA;
    padding: 10px 30px;
    margin: -10px;
    font-family: "Arial";
    display: flex;
    color: white;
    align-items: center;
}

#header > p {
    padding-right: 10%;
}