.main {
    display: grid;
    grid-template-columns: 10% 90%;
    gap: 20px;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
}

.h1 {
    font-family: "Arial";
    font-size: 30px;
    color: darkslategrey;
    text-align: center;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

.nav {
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}

.content {
    grid-column: 2/4;
    grid-row: 3;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4;
}

.content > a {
    display: inline-block;
    text-decoration: none;
    background-color: #5784BA;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}
.content > li {
    text-decoration: none;
    display: block;
    width: max-content;
    text-decoration: none;
    background-color: #5784BA;
    color: white;
    padding: 8px 16px; /* Ajuster les valeurs de padding */
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}